* {
    font-family: 'Roboto', sans-serif;
    margin: 0px, 20px;
}

.header, .hero, button {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.header-link {
    padding: 5px;
}

.hero {
    display: flex;
    margin: auto;
    padding: 30px;
}

.hero-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.hero-right {
    float: right;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-summary, .header-link {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882f6;
    width: 100px;
    border-radius: 6px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: none;
}

.info {
    background-color: white;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 30px;
}

.info-box-container {
    display: flex;
    justify-content: center
}

.info-box {
    text-align: center;
    /* padding: 15px; */
    width: 140px
}

.info-box-img {
    border: 2px solid #3882f6;
    border-radius: 6px;
}